html {
  font-family: 'Segoe UI';
  color: rgb(112, 112, 122);
}

div.header {
  top: 0vh;
  left: 10vw;
  right: 10vw;
  bottom: 30vh;
}

.title {
  font-size: 60px;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 0px;
}

div.inputForm {
  position:  absolute;
}

.subTitle {
  font-size: 40px;
  text-align: center;
  margin-top: 0vh;
  margin-bottom: 20vh;
  }

.emailInputFlavorText {
  font-size: 40px;
  text-align: center;
  margin-bottom: 25px;
}

input[type=email] {
  width: 85vw;
  max-width: 1000px;
  height: 40px;
  font-size: 32px;
  border-style: solid;
  border-color: rgb(112,112,112);
  border-width: 2px;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  display: block;
  margin : 0 auto;
}

input[type=email]:hover {
  border-width: 3px;
}

.signupButton {
  background-color: rgb(45,45,158);
  border: none;
  border-radius: 22px;
  width: 20vw;
  min-width: 170px;
  max-width: 300px;
  height: 70px;
  color: rgb(255,255,255);
  font-size: 32px;
  text-align: center;
  padding: 0px;
  display: inline-block;
  position: absolute;
  right: 60vw;
  bottom: 15vh;
}

.signupButton:hover {
  background-color: rgb(18,18,128);
}

.loginButton {
  background-color: rgb(45,45,158);
  border: none;
  border-radius: 22px;
  width: 20%;
  min-width: 170px;
  max-width: 300px;
  height: 70px;
  color: rgb(255,255,255);
  font-size: 32px;
  text-align: center;
  padding: 0px;
  display: inline-block;
  position: absolute;
  left: 60vw;
  bottom: 15vh;
}

.loginButton:hover {
  background-color: rgb(18,18,128);
}