html {
  font-family: 'Segoe UI';
  color: rgb(112, 112, 122);
}

div.header {
  top: 0vh;
  left: 10vw;
  right: 10vw;
  bottom: 30vh;
}

.title {
  font-size: 8vh;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 0px;
}

div.inputForm {
  position:  absolute;
}

.subtitle {
  font-size: 5vh;
  text-align: center;
  margin-top: 0vh;
  margin-bottom: 20vh;
  }

.emailInputFlavorText {
  font-size: 4vh;
  text-align: center;
  margin-bottom: 3vh;
}

input[type=email] {
  width: 60vw;
  height: 5vh;
  font-size: 3.5vh;
  border-style: solid;
  border-color: rgb(112,112,112);
  border-width: 0.2vh;
  border-radius: 2vh;
  padding: 1vh;
  cursor: pointer;
  position: relative;
  display: block;
  margin : 0 auto;
}

input[type=email]:hover {
  border-width: 0.3vh;
}

.signupButton {
  background-color: rgb(45,45,158);
  border: none;
  border-radius: 2vh;
  width: 20vw;
  height: 7vh;
  color: rgb(255,255,255);
  font-size: 4vh;
  text-align: center;
  padding: 0px;
  display: inline-block;
  position: absolute;
  right: 60vw;
  bottom: 15vh;
}

.signupButton:hover {
  background-color: rgb(18,18,128);
}

.loginButton {
  background-color: rgb(45,45,158);
  border: none;
  border-radius: 2vh;
  width: 20%;
  height: 7vh;
  color: rgb(255,255,255);
  font-size: 4vh;
  text-align: center;
  padding: 0px;
  display: inline-block;
  position: absolute;
  left: 60vw;
  bottom: 15vh;
}

.loginButton:hover {
  background-color: rgb(18,18,128);
}