html{  
  font-family: 'Segoe UI';
  color: rgb(112, 112, 122);
}

div.header {
  top: 0vh;
  left: 10vw;
  right: 10vw;
  bottom: 30vh;
}

.title {
  font-size: 200%;
  text-align: center;
  margin: 0;
}

.subtitle {
  font-size: 125%;
  text-align: center;
  margin: 0;
  }

/* password options divison */
#passwordOptions {
  transform: translate(-50%, -50%);
  position: relative;
  padding: 0%;
  margin: 0%;
  left: 50%;
  height: 4vw;
  width: 40vw;
  top: 5vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buttonIcon {
  margin: 0%;
  padding: 0%;
}

/* ---------undo and reset buttons----------  */
.undoAndResetButtons {
  background-color: rgb(187, 48, 30);
  border-radius: 50%;
  border: none;
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 10%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.undoAndResetButtons:hover {
  background-color: rgb(136, 37, 24);
}

/*----------------Password hiding button----------- */
#passwordHideUnhide {
  background-color: rgb(107, 107, 107);
  border-radius: 50%;
  border: none;
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 10%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#passwordHideUnhide:hover {
  background-color: rgb(66, 66, 66);
}

/* The container */
.radioContainer {
  float: right;
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 10%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radioContainer input {
  display: none;
}

/* Create a custom radio button */
.radioContainer .colorChoice {
  position: absolute;
  height: 100%;
  width: 10%;
  border-radius: 50%;
}

#radioRed{
  background-color: rgb(255, 52, 52);
}

#radioBlue{
  background-color: rgb( 24, 24,255);
}

#radioGreen{
  background-color: rgb(129,225,129);
}

/*creates a white dot when color radio is checked*/
.radioContainer input:checked + .colorChoice:after {
  content: "";
  transform: translate(-50%, -50%);
  height: 40%;
  width: 40%;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

/* Password grid division */
#gridDiv {
  left: 25vw;
  height: 50vh;
  width: 50vw;
  display: flex;
  position: absolute;
  align-items: center;
  top: 25vh;
}

#gridSVG {
  position: center;
  display: block;
  margin: auto;
}

/* password frame */
#gridFrame {
  top: 0%;
  position: absolute;

  rx: 8%;
  ry: 8%;
  fill:rgb(37, 37, 37);
  stroke: black;
  stroke-width: 5px;
  fill-opacity: 0.1;
  stroke-opacity: 0.9;
}

/* circle grid style */
.node {
  fill: white;
  stroke-width: 2px;
  stroke: black;
  r: 8.5%;
}

/* objects drawn unclickable */
.noclick {
  pointer-events: none;
}

#nextField {
  transform: translate(-50%, -50%);
  top: 65vh;
  left: 50%;
  height: 5vh;
  width: 50%;
  position: relative;
  padding: 0%;
  margin: 0%;
}

#loginButton {
  background-color: blue;
  color: white;
  border-radius: 20vw;
  border: none;
  font-size: 2vw;
  margin: 0%;
  padding: 0%;
  cursor: pointer;
  width: 100%;
  height: 100%;
  user-select: none;
  position: absolute;
}

#loginButton:hover {
  background-color: rgb(0, 0, 206);
}  